<p>It&rsquo;s a party guest that always overstays its welcome: The bottle of booze that someone brought, that you have no idea what to do with.</p>
<p>Submit a photo of your orphaned alcohol &ndash; or leave a comment to help someone else out.  </p>
<p>We'll ask <a href="http://cookyourcupboard.tumblr.com/tagged/chef">an expert</a> about our favorites on NPR's <em>Morning Edition</em>.</p>
<!--<p class="deadline">Round 2 ends Sunday, April 28!</p>-->
<h3 id="modal-btn" class="btn"><span></span>Submit: <i>What's in the back of your liquor cabinet?</i></h3>
