<p>Beyond the usual suspects like ketchup and mustard, what do you do with those oddball condiments that end up in the door of your fridge?</p>
<p>Submit a photo of what's stumping you &mdash; or leave comments to help someone else out.</p>
<p>We'll ask <a href="http://cookyourcupboard.tumblr.com/tagged/chef">chefs</a> about our favorites on NPR's <em>Morning Edition</em>.</p>
<!--<p class="deadline">Round 2 ends Sunday, April 28!</p>-->
<h3 id="modal-btn" class="btn"><span></span>Submit: <i>What's in the back of your liquor cabinet?</i></h3>