<meta name="twitter:card" content="summary">
<meta property="og:title" content="{Title}" />
<meta property="og:url" content="http://cookyourcupboard.tumblr.com/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Beyond the usual suspects like ketchup and mustard, what do you do with those oddball condiments that end up in the door of your fridge? Send us a photo. We'll ask chefs about our favorites on NPR's Morning Edition." />
<meta property="og:image" content="http://apps.npr.org/cook-your-cupboard/img/round-3-condiment.jpg" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="138837436154588" />