<meta name="twitter:card" content="summary">
<meta property="og:title" content="{Title}" />
<meta property="og:url" content="http://cookyourcupboard.tumblr.com/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="We're almost afraid to ask what you've got in your freezer. Homemade chicken stock you never think to use? Veggies for a rainy day? Send us a photo. We'll ask chefs about our favorites on NPR's Morning Edition." />
<meta property="og:image" content="http://apps.npr.org/cook-your-cupboard/img/round-5-freezer.jpg" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="138837436154588" />