<meta name="twitter:card" content="summary">
<meta property="og:title" content="{Title}" />
<meta property="og:url" content="http://cookyourcupboard.tumblr.com/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Confounded in the kitchen? With a little help, your strange and surplus food could be dinner! For Round 2, we want a shot of no more than three spices from your spice cabinet that you can't figure out. We'll ask chefs about our favorites on NPR's Morning Edition." />
<meta property="og:image" content="http://apps.npr.org/cook-your-cupboard/img/round-2-spices.jpg" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="138837436154588" />